* {
    margin: 0;
}

:root {
    --clr-neutral: #EBF1F4;
    --clr-dark-neutral: #505355;
    --clr-primary: #d1a2fc;
    --clr-secondary: #c9e99c;

    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral);
}

.scoreboard {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 4rem;
    font-weight: 600;
    color: var(--clr-dark-neutral);
    gap: 40px;
    width: clamp(360px, 90%, 800px);
    button {
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto;
        height: 50%;
        width: 20%;
        font-size: 1.5rem;
        background-color: var(--clr-dark-neutral);
        color: var(--clr-neutral);
        border-radius: 5px;
        box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.25);
        border-style: none;
    }
}

.board {
    aspect-ratio: 1 / 1;
    width: clamp(240px, 80%, 720px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    .square {
        background-color: white;
        border-radius: 5px;
        box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.25);
    }
    .square:not(.X):not(.O):hover {
        background-color: var(--clr-dark-neutral);
    }
    .X {
        background-color: var(--clr-primary);
    }
    .O {
        background-color: var(--clr-secondary);
    }
}

.results {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-style: none;
    background-color: transparent;
    font-weight: 600;
    color: var(--clr-dark-neutral);
    font-size: 8rem;
    &::backdrop {
        backdrop-filter: blur(3px);
    }
}